.contacto{
    color:#D1CFC9;
}

.contacto-header{
    padding-top: 30px;
    padding-bottom: 30px;
}

a{
  text-decoration: none;
  color: inherit;
  transition: color 0.3s ease;
}

a:hover {
  color: #00bcd4;
}

